.header__button-container {
  display: flex;
  column-gap: 1rem;
}

.button__delete {
  background-color: rgb(255, 0, 0) !important;
}

.button__delete:hover {
  background-color: rgba(255, 0, 0, 0.5) !important;
}

.addToArchive__container {
  position: fixed;
  bottom: 3rem;
  right: 0;
}

.button__addToArchive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: rgb(59, 59, 59);
}

.button__addToArchive:hover {
  background-color: rgba(59, 59, 59, 0.5);
}
