/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  border: none;
  cursor: pointer;
}

/* reusable class */
.container {
  padding-inline: 1rem;
}

@media screen and (min-width: 640px) {
  .container {
    padding-inline: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-inline: 3rem;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-inline: 4rem;
  }
}

@media screen and (min-width: 1536px) {
  .container {
    padding-inline: 5rem;
  }
}

.icon {
  color: #fff;
  font-size: 1.3rem;
}
